<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/auth.css">
    <title>FinTrack</title>
</head>
<body>
    <div class="login-container">
        <div>
            <p class="error-message"></p>
            <form>
                <div>
                    <label for="user-email">Email</label>
                    <input type="email" id="user-email" placeholder="user@gmail.com" name="email"/>
                </div>
                <div>
                    <label>Password</label>
                    <input type="password" id="user-password" placeholder="********" name="password"/>
                </div>
                <div class="btn">
                    <button id="login-button">Login</button>
                </div>
            </form>
            <p>Don't have an account? <a href="#">Sign up</a></p>
        </div>

    </div>
    <script type="text/javascript" src="/javascript/auth.js"></script>
</body>
</html>