<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/income.css">
    <title>Track your income</title>
</head>
<body>
    <div id="humberger-icon">
        <img src="/images/humberger-icon.jpg" alt="icon" width="40" height="40">
    </div>
    <nav id="navigation-container">
        <ul>
            <li>
                <img src="" alt="photo" width="40" height="40">
                <a href="#">Profile</a>
            </li>
            <li>
                <img src="/images/income-icon.png" alt="photo" width="20" height="20">
                <a href="/income">Income</a>
            </li>
            <li>
                <img src="/images/expenses-icon.jpg" alt="photo" width="20" height="20">
                <a href="/expenses">Expenses</a>
            </li>
            <li>
                <img src="/images/transaction-icon.jpg" alt="photo" width="20" height="20">
                <a href="/transactions">Transactions</a>
            </li>
            <li>
                Logout
            </li>
        </ul>
       
    </nav>
    <div class="app"></div>
    
</body>
</html>