<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
   <div class="main-page">
    <div class="head-message">
        <h1>FinTracker</h1>
    </div>
    <div class="authentication-link">
        <button class="login-button">
            <a href='/login'>Login</a>
        </button>
    </div>
    <div class="image-container">
        <p>Image of person with money</p>
    </div>
    <div class="webinfo-text">
       <div>
        <h2>What does FinTracker do?</h2>
        <p>
            Knowing how to manage your finances well is a key to achieving 
            your financial goals. Don't beat yourself if you haven't had a good track record with
            managing finances. It's never too late if you want to get your money under control. It is with this that we introduce <span>FinTracker</span> .

        </p>
        <p>
            FinTracker is a web application that helps individuals keep track of their <italic>income, expenses, and transactions</italic>. 
            Below are operations you can perform on the app:
        </p>
        <ul>
            <li>Add a new source of income</li>
            <li>Keep your expenses in a well managed database for future reference</li>
            <li>Record all your transactions</li>
            <li>Provision of free reading materials on finance management</li>
        </ul>
       </div>
    </div>
   </div>
   
</body>
</html> 