<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinTracker Application</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
   <header>
    <h1>FinTracker</h1>
    <p>Your Finance Tracker</p>
   </header>

   <div class="container">
    <h2>Welcome to FinTracker</h2>
    <p>Track your finances easily with FinTracker. Stay organised and in control of your money.</p>
    <img src="/images/person-holding-money.jpg" alt="person-holding money" width="100%" height="400px">
    <div class="authentication-link">
        <button class="login-button">
            <a href='/login'>Login</a>
        </button>
    </div>
   </div>

   <footer>
    <p>Contact Developer at: <a href="mailto:acquahfrank25@gmail.com">acquahfrank25@gmail.com</a></p>
    <p>Visit profile <a href="https://www.linkedin.com/in/frank-acquah-016b6222b">LinkedIn Profile</a></p>
   </footer>
   
</body>
</html> 